<td-layout class="layout-nav-demo" sidenavWidth="280px">
    <td-navigation-drawer
            flex
            sidenavTitle="Search" >
    </td-navigation-drawer>
    <td-layout-nav-list navigationRoute="/" opened="false" mode="side">

        <div td-sidenav-content>


        </div>
        <div td-toolbar-content flex-auto>
            <span flex>
            NHS Digital FHIR based OAS Browser
            </span>
            <!--   <span *ngIf="drugName"> - {{drugName}}</span> -->
        </div>
        <router-outlet></router-outlet>
    </td-layout-nav-list>
</td-layout>
